body{
    /* background-color: rgb(167, 172, 170); */
    background-color: paleturquoise;
}

/* #root{
    transition: all .5s;
} */

/* #root:hover{
    transform: rotateX(150deg);
    transform: rotateY(150deg);
    transform: rotateZ(150deg);
} */

.navListItem {
    /* text-align: center; */
    font-size: 250%;
    padding: 10px;
    /* background-color: blue; */
}

.navButton {
    width:300px;
    height:50px;
    font-size:100%;
    background-color: rgb(200, 200, 200);
}

.navButton:hover {
    background-color: rgb(146, 146, 146);
}

.headerBarBase{
    padding: 10px;
    text-align: center;
    border-color: black;
    border-bottom: 5px;
    border-bottom: solid;

    /* background-color: blue; */
}

.aboutMe{
    /* display: inline-block; */
    text-align: center;
    padding: 10px;
    border-color: black;
    border-bottom: 5px;
    border-bottom: solid;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 150%;
}

.aboutMeText{
    /* color:blue; */
    /* display: flex; */
    /* justify-content: center; */
    background-color: azure;
    border-color: black;
    border: solid 5px;
    padding:2%;

}

.photoOfMe{
    /* size: 25%;
    border-color: purple;
    border-right: 10px;
    border-right: solid; */
    /* height: 25%; */
    width: 40%;
    padding: 5px;
    border-color: black;
    border: solid 5px;
    background-color: rgba(240, 255, 255, 0.473);

}




/* aboutMeSub */

/* projectList */
.projectList{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    border-color: black;
    border: solid 5px;
}

/* projectCard */
.projectCard{
    text-align: center;
    width: 75%;
    margin: 10px;
    padding: 5px;
    border-color: black;
    border: solid 5px;
    background-color: azure;
    border-radius: 25px;
}

.projectImg{
    /* size: 25%;
    border-color: purple;
    border-right: 10px;
    border-right: solid; */
    /* height: 25%; */
    width: 40%;
    padding: 10px;
    border-color: black;
    border: solid 5px;
    background-color: #E2BEF1;
}

.contacts{
    /* display: inline-block; */
    text-align: center;
    padding: 10px;
    border-color: black;
    border-bottom: 5px;
    border-bottom: solid;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.subContact{
    width:75%;
    background-color: azure;
    padding:25px;
    border-radius : 25px;
    border-color: black;
    border: solid 5px;
}