body{
    /* background-color: rgb(167, 172, 170); */
    background-color: paleturquoise;
}

.headerList{
    list-style-type:none;
    display:inline;    
    white-space: nowrap;
    /* background-color: green */
}

ul > li{
    display:inline-block;
    /* background-color: green; */

}

.navListItem {
    /* text-align: center; */
    font-size: 200%;
    /* padding: 3%; */
    margin-top:1%;
    margin-bottom:1%;
    margin-right:5%;
    margin-left:5%;
    /* background-color: blue; */
}

.navButton {
    width:200px;
    /* display: block; */
    /* width:200%; */
    height:75px;
    font-size:100%;
    background-color: rgb(200, 200, 200);
}

.navButton:hover {
    background-color: rgb(146, 146, 146);
}

.selected {
    width:200px;
    /* display: block; */
    /* width:200%; */
    height:75px;
    font-size:100%;
    background-color: rgb(146, 146, 146);
    /* background-color: rgb(57, 144, 0); */
}

.headerBarBase{
    padding: 10px;
    text-align: center;
    border-color: black;
    border-bottom: 5px;
    border-bottom: solid;

    /* background-color: blue; */
}

.aboutMe{
    /* display: inline-block; */
    text-align: center;
    padding: 10px;
    border-color: black;
    border-bottom: 5px;
    border-bottom: solid;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 150%;
}

.aboutMeText{
    /* color:blue; */
    /* display: flex; */
    /* justify-content: center; */
    background-color: azure;
    border-color: black;
    border: solid 5px;
    padding:2%;
    margin-left:5%;

}

.photoOfMe{
    /* size: 25%;
    border-color: purple;
    border-right: 10px;
    border-right: solid; */
    /* height: 25%; */
    width: 40%;
    padding: 5px;
    border-color: black;
    border: solid 5px;
    /* background-color: rgba(240, 255, 255, 0.473); */
    background-color: #E2BEF1;

}




/* aboutMeSub */

/* projectList */
.projectList{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    border-color: black;
    border: solid 5px;
}

/* projectCard */
.projectCard{
    text-align: center;
    width: 75%;
    margin: 10px;
    padding: 5px;
    border-color: black;
    border: solid 5px;
    background-color: azure;
    border-radius: 25px;
    margin-left:10%;
    margin-right:10%;
}

.projectImg{
    /* size: 25%;
    border-color: purple;
    border-right: 10px;
    border-right: solid; */
    /* height: 25%; */
    width: 40%;
    padding: 10px;
    border-color: black;
    border: solid 5px;
    background-color: #E2BEF1;
}

.projectVideo{
    /* size: 25%;
    border-color: purple;
    border-right: 10px;
    border-right: solid; */
    /* height: 25%; */
    width: 75%;
    padding: 10px;
    border-color: black;
    border: solid 5px;
    background-color: #E2BEF1;
}

.contacts{
    /* display: inline-block; */
    text-align: center;
    padding: 10px;
    border-color: black;
    border-bottom: 5px;
    border-bottom: solid;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.subContact{
    width:75%;
    background-color: azure;
    padding:25px;
    border-radius : 25px;
    border-color: black;
    border: solid 5px;
}